.page {
  font-family: 'Inter', 'Arial', sans-serif;
  max-width: 1280px;
  min-width: 320px;
  background-color: #000;
  margin: 0 auto;
}

@font-face {
  font-family: Inter;
  src: url(../../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Inter;
  src: url(../../fonts/Inter-Medium.otf);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: Inter;
  src: url(../../fonts/Inter-Black.otf);
  font-weight: 900;
  font-display: swap;
}