.popup__submit-button {
  height: 50px;
  padding: 0;
  background-color: #000;
  color: #fff;
  border: 0;
  margin-top: 48px;
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.2222222222;
  text-align: center;
  cursor: pointer;
}

.popup__submit-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 500px) {
  .popup__submit-button {
    height: 46px;
    margin-top: 45px;
    font-size: 14px;
    line-height: 17px;
  }
}