.element__image {
  display: block;
  width: 100%;
  min-height: calc(100% - 80px);
  background: 50% 50% no-repeat;
  background-size: cover;
  position: relative;
  transition: all 0.3s;
  border-radius: 10px 10px 0 0;
}

.element__image:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: all 0.3s;
  opacity: 0;
}

.element__image:hover:after {
  opacity: 0.6;
}