.profile__avatar {
  width: 120px;
  height: 120px;
  background-color: #fff;
  background: url(../../../images/profile-avatar.jpg) 50% 50% no-repeat;
  background-size: cover;
  clip-path: circle();
}

.profile__avatar:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #00bfff;
  transition: all 0.3s;
  opacity: 0;
}

.profile__avatar:hover:after {
  opacity: 0.3;
}