.popup__title {
  margin-bottom: 54px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2083333333;
}

@media (max-width: 500px) {
  .popup__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 1.2222222222;
    margin-bottom: 75px;
  }
}